# Python Caches & Virtual Environment
__pycache__/
*.pyc
.venv/

# IDE Configuration
.vscode/
.idea/
*.design

# Generated Artifacts & Data
cache/
db_backups/
data/
hunter_model.joblib
*.log
*.db
/config.ini
/.gemini/
*.ipynb
/.github/
/.junie/
/toolbox.exe
/.vscode/
/tools/paranormal_terms.txt
